<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevGear</title>
    <link rel="stylesheet" href="../admin/admin.css" type="text/css" />
    <link rel="stylesheet" href="../common/common.css" type="text/css" />
  </head>
  <body>
    <header id="header"></header>

    <div class="adminPage">
      <h2 class="title">관리자</h2>
      <div id="tabs" class="tabs is-centered is-toggle">
        <ul>
          <li class="is-active"><a>상품관리</a></li>
          <li><a>카테고리관리</a></li>
          <li><a>주문관리</a></li>
        </ul>
      </div>
      <section id="product_manage" class="content-tab is-active"></section>

      <section id="category_manage" class="content-tab"></section>

      <section id="order_manage" class="content-tab"></section>
    </div>

    <footer id="footer"></footer>

    <script src="../admin/admin.js" type="module"></script>
    <script src="../admin/admin_productManage.js" type="module"></script>
    <script src="../admin/admin_categoryManage.js" type="module"></script>
    <script src="../admin/admin_orderManage.js" type="module"></script>
    <script src="../common/common.js" type="module"></script>
  </body>
</html>
