@font-face {
  font-family: "D2Coding";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

#mainPage svg {
  width: 50px;
}

#mainPage h2 {
  text-align: center;
}

#mainPage div {
  text-align: center;
}

.mainPage_title {
  font-family: "D2Coding";
  text-align: center;
  margin: 0;
  padding-top: 90px;
}

#mainPage img {
  object-fit: cover;
  margin: 10px 0;
  width: 100%;
  max-height: 500px;
}
