<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevGear</title>
    <link rel="stylesheet" href="../mainPage/mainPage.css" type="text/css" />
    <link rel="stylesheet" href="../common/common.css" type="text/css" />
  </head>
  <body>
    <div id="header"></div>
    <div>Hello, World!</div>
    <img src="../common/mainImg.png" />

    <h2>
      키보드
      <a href="/product/?higherCategory=keyboard">더보기 ></a>
    </h2>

    <div>키보드 신상품 3개</div>

    <h2>
      마우스
      <a href="/product/?higherCategory=mouse">더보기 ></a>
    </h2>

    <div>키보드 신상품 3개</div>

    <h2>
      키보드
      <a href="/product/?higherCategory=keyboard">더보기 ></a>
    </h2>

    <div>마우스 신상품 3개</div>

    <h2>
      음향장비
      <a href="/product/?higherCategory=sound-equipment">더보기 ></a>
    </h2>

    <div>음향장비 신상품 3개</div>

    <h2>
      기타
      <a href="/product/?higherCategory=etc">더보기 ></a>
    </h2>

    <div>기타 신상품 3개</div>

    <div id="footer"></div>

    <script src="../mainPage/mainPage.js"></script>
    <script src="../common/common.js" type="module"></script>
  </body>
</html>
