<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevGear</title>
    <link rel="stylesheet" href="../productList/productList.css" type="text/css"
    />
    <link rel="stylesheet" href="../common/common.css" type="text/css" />
  </head>
  <body>
    <header id="header"></header>

    <!-- 상품 리스트 페이지 -->
    <section class="productListPage">

      <div class="main_category">

        <!-- 상위 카테고리에 맞는 이미지 반영될곳. -->
        <img src="https://www.melgeek.com/cdn/shop/files/111_MelGeek_2800_2.jpg?v=1681803768&width=2800" alt="카테고리 이미지" />

        <!-- 상위(메인)카테고리 타이틀명 영역 -->
        <div class="title_box">
          <p class="main_title">
            <!-- 타이틀 명 동적으로 생성 -->
          </p>
          
        </div>

      </div>

      <!-- 탭버튼 메뉴 하위 카테고리 영역  -->
      <div class="sub_category inner">
        <div class="tabs">
          <!-- 탭버튼 동적 생성 & 페이지 이동 -->
        </div>
        
      </div>

      <!-- 상품 리스트 이미지 나올곳 -->
      <div class="products_container inner">
        <ul class="items">
          <!-- 상품 목록 동적 생성 -->
        </ul>

       <!-- 페이징 처리 영역 -->

      </div>
      
      
    </section>

    <footer id="footer"></footer>

    <script src="../common/common.js" type="module"></script>
    <script src="../productList/productList.js"></script>
  </body>
</html>
