<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevGear</title>
    <link rel="stylesheet" href="../productList/productList.css" type="text/css"
    />
    <link rel="stylesheet" href="../common/common.css" type="text/css" />
  </head>
  <body>
    <div id="header"></div>

    <!-- 상품 리스트 페이지 -->
    <section class="productListPage">
      <div class="category_area">
        <img src="https://www.melgeek.com/cdn/shop/files/111_MelGeek_2800_2.jpg?v=1681803768&width=2800" alt="카테고리 이미지" />
        <div class="title_box">
          <p class="main_title">KEYBOARD</p>
          
        </div>
      </div>

      <!-- 탭 메뉴 영역 (하위 카테코리) -->
      <div class="subcategory inner">
        <div class="tabs">
          <button class="button bg-primary">기계식 키보드</button>
        <button class="button bg-primary2">무접점 키보드</button>
        <button class="button bg-primary2">멤브레인 키보드</button>
        <button class="button bg-primary2">키캡</button>
        </div>
        
      </div>

      <!-- 상품 리스트 이미지 나올곳 -->
      
    </section>

    <div id="footer"></div>

    <script src="../common/common.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../productList/productList.js"></script>
  </body>
</html>
