<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevGear</title>
    <link
      rel="stylesheet"
      href="../productList/productList.css"
      type="text/css"
    />
    <link rel="stylesheet" href="../common/common.css" type="text/css" />
  </head>
  <body>
    <div id="header"></div>

    <h1>DevGear</h1>
    <div>ProductListPage입니다.</div>

    <div id="footer"></div>

    <script src="../common/common.js"></script>
    <script src="../productList/productList.js"></script>
  </body>
</html>
