.productListPage {
  width: 100%;
  background-color: #fff;
  padding-bottom: 80px;
}
.inner {
  width: 1100px;
  margin: 0 auto; 
  position: relative;
}

.main_category {
  width: 100%;
  height: 400px;
  position: relative;

}

.main_category img {
  width: 100%;
  height: 400px;
  position: absolute;
  object-fit: cover;
  
}

.main_category .title_box {
  width: 400px;
  height: 100px;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  transform: translateY(250%);
  background-color: rgb(176, 176, 247);
}

.title_box .main_title {
  font-size: 40px;
  font-weight: bold;
  line-height: 90px;
}

.sub_category {
  width: 800px;
  height: 100px;
  margin: 60px auto;

}

/* 하위 카테고리 Tab버튼 영역 */
.sub_category .tabs {
  padding-bottom: 10px;
  justify-content: space-around;
}

.sub_category .button {
  width: 150px;
  position: relative;
}
.sub_category a.button.bg-primary {
  color:#fff;
}

.sub_category .button:after {
  content: '';
  position: absolute;
  left: calc(50% - 10px);
  bottom: -20px;
  z-index: 1;
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid var(--yellow-color);
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
}

.sub_category .button.bg-primary:after {
  border-top: 10px solid var(--navy-color);
}

/* 옵션 영역 */
.options {
  height: 130px;
}

.select {
  float: right;
}

/* 상품 리스트 아이템 영역 */

.products_container .items {
  display: flex;
  flex-wrap: wrap;
}

.items li {
  flex: 0 0 33.333%;
  padding: 10px;
  box-sizing: border-box;
}
.items li:nth-child(n + 4) {
  margin-top: 20px;
}

/* 동적으로 이미지 비율을 맞추기 위함.(flex 속성이 안먹음)*/
.items div {
  position: relative;
  width: 100%;
  padding-top: 60%
}

.items img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.paginationArea {
  width: 300px;
  margin: 0 auto;
  padding-top: 120px;
  box-sizing: border-box;
}
