<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevGear</title>
    <link rel="stylesheet" href="../common/common.css" type="text/css" />
    <link rel="stylesheet" href="./myOrder.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  </head>
  <body>
    <div class="main-content">
    <header id="header"></header>
    <h2 id="userName"></h2>
      <!-- 주문 상세 정보 테이블 
      <table class="table is-bordered is-striped is-narrow is-hoverable custom-table">
        <thead>
            <tr class="navy-header">
                <th>총 가격</th>
                <th>배송지</th>
                <th>배송상태</th>
                <th>주문시간</th>
                <th>요청사항</th>
                <th>전화번호</th>
            </tr>
        </thead>
        <tbody id="orderInfoBody">
        </tbody>
    </table>
    <table class="table is-bordered is-striped is-narrow is-hoverable custom-table">
      <thead>
          <tr class="navy-header">
              <th>상품</th>
              <th>상품명</th>
              <th>가격</th>
              <th>수량</th>
          </tr>
      </thead>
      <tbody id="orderTableBody">
      </tbody>
  </table>
-->
    <div id="orderList">

    </div>
    <footer id="footer"></footer>

    <script src="./myOrder.js" ></script>
    <script src="../common/common.js" type="module"></script>
  </body>
</html>