<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevGear</title>
    <link rel="stylesheet" href="./login.css" type="text/css" />
    <link rel="stylesheet" href="../common/common.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  </head>
  <body>
    <header id="header"></header>

    
    <!-- 로그인 창 구현 -->
    <div class="container mt-6">
        <div class="columns is-centered">
          <div class="column is-half">
            <div class="box">
              <h2 class="title has-text-centered">Login</h2>
      
              <div class="field">
                <label class="label">Email</label>
                <div class="control has-icons-left">
                  <input class="input" type="email" placeholder="alex@example.com" id="email">
                  <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                  </span>
                </div>
              </div>
      
              <div class="field">
                <label class="label">Password</label>
                <div class="control has-icons-left">
                  <input class="input" type="password" placeholder="******" id="password">
                  <span class="icon is-small is-left">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
              </div>
      
              <div class="field">
                <div class="control">
                  <button class="button is-primary is-fullwidth has-text-weight-bold" id="login-btn">Login</button>
                </div>
              </div>
      
              
      
            </div>
      
            <div class="has-text-centered mt-3">
              계정이 없으신가요? <a href="../signUp/signup.html" class="has-text-weight-bold has-text-link">회원가입</a>
            </div>
      
          </div>
        </div>
      </div>
  

    <footer id="footer"></footer>

    <script src="./login.js"></script>
    <script src="../common/common.js"></script>
  </body>
</html>
