<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevGear</title>
    <link rel="stylesheet" href="./login.css" type="text/css" />
    <link rel="stylesheet" href="../common/common.css" type="text/css" />
  </head>
  <body>
    <div id="header"></div>

    <h1>DevGear</h1>
    <h2>LoginPage입니다.</h2>

    <div id="footer"></div>

    <script src="./login.js"></script>
    <script src="../common/common.js"></script>
  </body>
</html>
