<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevGear</title>
    <link rel="stylesheet" href="./login.css" type="text/css" />
    <link rel="stylesheet" href="../common/common.css" type="text/css" />
  </head>
  <body>
    <div id="header"></div>

    <form class="box">
      <div class="field">
        <label class="label">Email</label>
        <div class="control">
          <input class="input" type="email" placeholder="e.g. alex@example.com">
        </div>
      </div>

      <div class="field">
        <label class="label">User Id</label>
        <div class="control">
          <input class="input" type="id" placeholder="ID">
        </div>
      </div>
    
      <div class="field">
        <label class="label">Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="8자이상, 특수문자 포함">
        </div>
      </div>

      <div class="field">
        <label class="label">Confirm Password</label>
        <div class="control">
          <input class="input" type="password" placeholder="비밀번호 확인">
        </div>
      </div>

      <div class="field">
        <label class="label">Name</label>
        <div class="control">
          <input class="input" type="name" placeholder="이름">
        </div>
      </div>

      <div class="field">
        <label class="label">Address</label>
        <div class="control">
          <input class="input" type="address" placeholder="주소">
        </div>
      </div>

      <div class="field">
        <label class="label">Contacts</label>
        <div class="control">
          <input class="input" type="phone-number" placeholder="전화번호">
        </div>
      </div>
      
    
      <button class="button is-primary">Sign up</button>
    </form>
    
    
  

    <div id="footer"></div>

    <script src="./signup.js"></script>
    <script src="../common/common.js"></script>
  </body>
</html>
