<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevGear</title>
    <link rel="stylesheet" href="../common/common.css" type="text/css" />
    <link rel="stylesheet" href="./orderList.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  </head>
  <body>
    <div class="main-content">
    <header id="header"></header>
    <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
      <thead>
          <tr>
              <th>상품</th>
              <th>상품명</th>
              <th>가격</th>
              <th>수량</th>
          </tr>
      </thead>
      <tbody id="orderTableBody">
          <!-- The order items will be populated here -->
      </tbody>
  </table>

    <footer id="footer"></footer>

    <script src="./orderList.js" ></script>
    <script src="../common/common.js" type="module"></script>
  </body>
</html>