<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="../cart/cart.css" type="text/css"/>
    <link rel="stylesheet" href="../common/common.css" type="text/css" />
  <title>장바구니 페이지</title>
</head>
<body>
  <header id="header"></header>

  <section class="cartpage inner">
    <div class="titlebox">
      <h1>CART</h1>
    </div>

    <form id="cartform">
      <table class="cart_table">
          <thead>
              <tr class="toprow">
                  <th>
                    <label class="checkbox">
                      <input style='zoom:1.3;' type="checkbox" checked>
                      <a href="#"></a>
                    </label>
                </th>
                  <th>상품 이미지</th>
                  <th>상품명</th>
                  <th>판매가</th>
                  <th>수량</th>
                  <th>삭제</th>
              </tr>
          </thead>

          <tbody class="cartlist">
              <tr>
                  <td>
                    <label class="checkbox">
                      <input style='zoom:1.3;' type="checkbox" checked>
                      <a href="#"></a>
                    </label>
                </td>
                  <td>
                    <img src="https://www.melgeek.com/cdn/shop/products/f58620219c6834a592e3ee566c096710.jpg?v=1681894613&width=100" alt="상품 이미지">
                  </td>
                  <td>MelGeek Mojo84 플라스틱 기계식 키보드</td>
                  <td>235,000원</td>
                  <td>
                    <button type="button" class="quantity_btn minus-btn">-</button>
                    <input type="number" class="quantity_input" value="1" min="1" disabled>
                    <button type="button" class="quantity_btn plus-btn">+</button></td>
                  </td>
                  <td>
                    <button type="button" class="button is-info is-small delete_button">삭제</button>
                  </td>
              </tr>
              <tr>
                <td>
                  <label class="checkbox">
                  <input style='zoom:1.3;' type="checkbox" checked>
                  <a href="#"></a>
                </label>
              </td>
                <td>
                  <img src="https://www.melgeek.com/cdn/shop/files/20230807-173844.jpg?v=1691401289&width=100" alt="상품 이미지">
                </td>
                <td>MelGeek Modern97 소형 기계 키보드</td>
                <td>150,000원</td>
                <td> 
                  <button type="button" class="quantity_btn minus-btn">-</button>
                  <input type="number" class="quantity_input" value="1" min="1" disabled>
                  <button type="button" class="quantity_btn plus-btn">+</button></td>
                <td>
                  <button type="button" class="button is-info is-small delete_button">삭제</button>
                  
                </td>
            </tr>
          </tbody>
      </table>
      <div class="cart_btns">
          <button type="button" class="button is-link clear_button">선택상품 삭제</button>
          <button type="submit" class="button is-success checkout_button">장바구니 비우기</button>
          <button type="submit" class="button is-warning checkout_button">구매하기</button>
      </div>
  </form>
    </div>
  </section>




  <footer id="footer"></footer>

  <script src="../common/common.js" type="module"></script>
  <script src="../cart/cart.js"></script>
  
</body>
</html>