.box.has-text-centered .image.is-128x128 {
  margin-left: auto;
  margin-right: auto;
}

#showOrder {
  background-color: var(--navy-color) !important;
}
#submitForm {
  background-color: var(--navy-color) !important;
}
#closeOrderModalFooter {
  background-color: var(--navy-color) !important;
  color: white;
}

#showModal {
  background-color: var(--yellow-color) !important;
}

#loginBtn {
  background-color: var(--navy-color) !important;
}

#deleteAccountBtn {
  background-color: #dc134c;
  color: white;
}

#mainContent {
  padding-top: 30vh; /* Adjust this value according to your header height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
}
