.box.has-text-centered .image.is-128x128 {
  margin-left: auto;
  margin-right: auto;
}

#showOrderModal {
  background-color: var(--navy-color) !important;
}
#submitForm {
  background-color: var(--navy-color) !important;
}

#showModal {
  background-color: var(--yellow-color) !important;
}