<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DevGear</title>
    <link
      rel="stylesheet"
      href="../paymentPage/paymentPage.css"
      type="text/css"
    />
    <link rel="stylesheet" href="../common/common.css" type="text/css" />
  </head>
  <body>
    <header id="header"></header>
    <h2 class="title">결제하기</h2>

    <div class="paymentPage columns is-desktop">
      <div class="paymentPage_left column">
        <section id="orderProduct_info">
          <h3>주문 상품 정보</h3>
        </section>
        <section id="orderer_info">
          <h3>주문자 정보</h3>
        </section>
        <section id="delivery_info">
          <h3>
            배송 정보
            <span class="mx-2"
              ><input class="checkbox mx-1" type="checkbox" checked />주문자
              정보와 동일</span
            >
          </h3>
        </section>
      </div>
      <div class="paymentPage_right column">
        <section id="order_summary">
          <h3>주문 요약</h3>
        </section>
        <section id="payment_method">
          <h3>결제 방법</h3>
        </section>
      </div>
    </div>

    <footer id="footer"></footer>

    <script src="../paymentPage/paymentPage.js"></script>
    <script src="../common/common.js" type="module"></script>
  </body>
</html>
