.title {
  padding-top: 120px;
  text-align: center;
  color: var(--navy-color) !important;
}

.paymentPage_left {
  display: flex;
}

.paymentPage section {
  padding: 0 20px;
  margin-bottom: 10px;
}

h3 {
  color: var(--navy-color) !important;
  font-size: 22px !important;
  font-weight: bold !important;
  width: 100%;
  border-bottom: solid var(--yellow-color) 2px;
  margin-bottom: 10px;
}

#delivery_info h3 {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

#delivery_info h3 span {
  font-size: 15px;
}

.product {
  border-bottom: dashed lightgray 1px;
  padding: 10px;
  align-items: center;
}

.product_img {
  height: 100px;
}

.is-grid {
  display: grid;
  grid-template-columns: 100px 300px;
  align-items: center;
}

.is-grid label {
  text-align: center;
}

.is-grid input,
.is-grid label,
.is-gird span {
  margin: 10px 0;
  height: 30px;
}

#order_summary .total_price {
  border-top: solid gray 1px;
  font-size: 20px !important;
}

#order_summary .total_price label {
  font-size: 20px !important;
}
